name: Sample Orca Container Image Scan Workflow
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
jobs:
  orca-container_scan:
    name: Orca Container Image Scan
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: gh-act-image
      PROJECT_KEY: slrk
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
     
      - name: Docker Image Build
        run: docker build -t $IMAGE_NAME .

      - name: Run Orca Container Image Scan
        uses: orcasecurity/shiftleft-container-image-action@v1
        with:
          api_token: ${{ secrets.ORCA_SECURITY_API_TOKEN }}
          project_key: ${{ env.PROJECT_KEY }}
          image: ${IMAGE_NAME}
